<ion-header>
  <ion-toolbar>
    <ion-title>Troca de Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formEdit" (ngSubmit)="edit(); $event.preventDefault()">
    <ion-item>
      <ion-label class="label" position="floating">Senha Antiga</ion-label>
      <ion-input class="label" formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label" position="floating">Nova Senha</ion-label>
      <ion-input class="label" formControlName="newPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label" position="floating">Comfirmar Nova Senha</ion-label>
      <ion-input class="label" formControlName="confirmNewPassword" type="password"></ion-input>
    </ion-item>
    <ion-button expand="block"  type="submit">Alterar</ion-button>
    <ion-button expand="block" color="danger" (click)="cancel()">Cancelar</ion-button>
  </form>
</ion-content>