<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Exibição dos Rankings de "Who Knows More"
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" color="primary" (click)="rankingPlayer()"
  >Ranking de Jogadores</ion-button>

  <ion-button expand="block" color="primary" (click)="rankingGames()"
  >Ranking de jogadores dentre as partidas (registro*)</ion-button>

  <ion-button expand="block" color="primary" (click)="rankingGameByConfiguration()"
  >Ranking de jogadores dentre as partidas especificas</ion-button>

  

</ion-content>